body {
  background-color: rgb(252, 252, 252);
}

.App {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.para {
  font-family: sans-serif;
  margin-top: 20px;
}
